* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: 0 auto;
    position: relative;

}

.header—box {
    position: relative;
    height: 100vh;
    background: #192314;
    overflow: hidden;
}

.header-pic-box {
    width: 652px;
    height: 488px;
    background: url(2.jpg);
    background-size: 100% auto;
    float: right;
}

.header-text-box {
    width: 512px;
    height: 208px;
    /*background: #4caf50;*/
    position: absolute;
    left: 100px;
    top: 150px;
    color: #fff;
    font-size: 12px;
    /*background: rgba(225,225,225,0.1);*/
}

.description {
    line-height: 24px;
    margin-bottom: 10px;

}

.title {
    /*font-weight: normal;不加粗*/
    font-weight: normal;
    letter-spacing: 3.75px;
    font-size: 30px;
    line-height: 39px;
    margin-top: 15px;
    margin-bottom: 24px;
}

.small-desc {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 2px;
}

.banner-box {
    height: 405px;
    padding-bottom: 100px;
    background: url(3.jpg);
    background-size: 100% auto;
    background-position: 0 -158px;
}

.product-box {
    width: 823px;
    height: 353px;
    /*background-color: red;*/
    margin: 0 auto;
    margin-top: -48px;
}

.product-item {
    width: 235px;
    height: 353px;
    float: left;
    position: relative;
}

.product-item img {
    width: 100%
}

.product-item h4 {
    position: absolute;
    top: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.header—box .button {
    display: block;
    width: 282px;
    line-height: 21px;
    padding: 10px 40px;
    background-color: rgba(225, 225, 225, 0.1);
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.item {
    height: 57px;
    width: 100%;
    display: flex;
    padding: 0 22px;
    justify-content: space-between;
    z-index: 2000;
    position: absolute;
}

.item1 {
    width: 150px;
    /*background-color: blue;*/
    background: url(menu1.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.item2 {
    width: 144px;
    /*background-color: red;*/
}

.item3 {
    width: 150px;
    background: url(menu3.png);
    /*background-color: blue;*/
    background-repeat: no-repeat;
    background-position: right center;
}

.item h4 {
    color: #fff;
    line-height: 57px;
    text-align: center;
}

.box-title h6 {
    line-height: 13px;
    text-align: center;
    padding-top: 100px;
    font-weight: normal;
    /*letter spacing 字间距*/
    letter-spacing: 2px;
}

.box-title h4 {
    line-height: 78px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
}

.product:nth-child(1) {
    background: url(31.jpg);
    background-size: 100% auto;
    float: left;
}

.product:nth-child(2) {
    background: url(32.jpg);
    background-size: 100% auto;
    float: left;
}

.product:nth-child(3) {
    background: url(33.jpg);
    background-size: 100% auto;
    float: left;
}

.product:nth-child(4) {
    background: url(34.jpg);
    background-size: 100% auto;
    float: left;
}

.product:nth-child(5) {
    background: url(35.jpg);
    background-size: 100% auto;
    float: left;
}

.product:nth-child(6) {
    background: url(36.jpg);
    float: left;
    background-size: 100% auto;
}

.product-list {
    margin: 0 auto;
    /*display:flex;*/
    flex-wrap: wrap;
}
.product h4{
    color:white;
    position: absolute;
    top: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.product {
    width: 512px;
    height: 512px;
    position:relative;
}

.story-list {
    width: 823px;
    height: 363px;
    /*background-color: aqua;*/
    margin: 0 auto;
    display: flex;
    padding: 0 58px;
}

.story {
    width: 178px;
    height: 100%;
}

.story-list .story:nth-child(3) {
    width: 352px;
    height: 168px;
}

.story-list .story img {
    width: 178px;
    height: 170px;
}

.story-list .story:nth-child(3) img {
    width: 352px;
    height: 168px;
}

.story-list .story h5 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    margin: 6px 0;
}

.desc {
    font-size: 13px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    padding-right: 2px;
}

.info-box {
    width: 1024px;
    height: 537px;
    padding: 0 14px;
    display: flex;
    /*background-color: red;*/
}

.info-item {
    width: 495px;
    height: 537px;
    /*background-color: blueviolet;*/
    border-top: 1px solid #efefef;
}

.info-item:nth-child(1) {
    padding: 80px 14px 270px 0;
    border: 1px solid #efefef;
}

.info-item:nth-child(2) {
    padding: 80px 0px 270px 14px;
    border-right: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
}

.icon {
    height: 58px;
    width: 58px;

    border-radius: 50%;
    margin: 0 auto;
}

.info-item:nth-child(1) .icon {

    background: #000 url(51.png) no-repeat center center;

}

.info-item:nth-child(2) .icon {

    background: #000 url(52.png) no-repeat center center;
}

.info-box h5 {
    width: 289px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
}

.info-box h6 {
    width: 289px;
    height: 20px;
    color: #d6d6d6;
    line-height: 20px;
    text-align: center;
    margin: 0px auto;
}

.info-box .button {

    width: 200px;
    height: 37px;
    padding: 10px 40px;
    margin: 60px auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.info-item input {
    width: 372px;
    height: 56px;
    border: 1px solid #ccc;
    margin: 30px 61px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 17px;
    outline: none;
}

.info-item:nth-child(2) .button {
    margin-top: 175px;
}
.footer .company
{
    width: 750px;
    height: 61px;
    padding: 0 14px;
    float: right;

}
.footer .company a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    float: right;
    color: black;
    margin-left: 16px;


}
.language a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 40px;
}




